<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
    <title>Career Path Simulator AI</title>
</head>

<body>

    <div class="container">

        <div class="card">

            <h1>🚀 Career Quest AI</h1>

            <p>
                Explore your future career, unlock skill quests,
                battle skill gaps, and simulate your future self.
            </p>

            <form id="careerForm" action="/analyze" method="POST">

                <label>Current Role</label>

                <br><br>

                <input
                    type="text"
                    name="current_role"
                    placeholder="Merchandiser, UX Designer, Pilot, etc..."
                    required>

                <br><br>

                <label>Your Skills</label>

                <br><br>

                <textarea
                    name="skills"
                    rows="6"
                    cols="60"
                    placeholder="Python, SQL, UiPath, APIs"
                    required>
                </textarea>

                <br><br>

                <label>Dream Career</label>

                <br><br>

                <input
                    type="text"
                    name="role"
                    placeholder="Cloud Engineer, UX Designer, Product Manager..."
                    required>

                <br><br>

                <button type="submit">
                    Generate Career Path
                </button>

            </form>

            <div id="loading" class="loading-screen">
                <div class="loader-box">
                    <h2>🚀 Simulating Your Future...</h2>
                    <p>Analyzing alternate career timelines</p>
                    <div class="spinner"></div>
                </div>
            </div>

            <script>
            document.getElementById("careerForm").addEventListener("submit", function() {
                document.getElementById("loading").style.display = "flex";
            });
            </script>

        </div>

    </div>

</body>
</html>